@use '../../scss/variables' as *;
@use '../../scss/common' as *;

scott-loading {
  padding: 10% 0;
}

.rants {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .rant {
    @include interactive;

    align-items: flex-start;
    background-color: var(--white-color);
    border-radius: var(--border-radius-normal);
    display: flex;
    overflow: hidden;
    width: 100%;

    .icon-wrapper {
      position: relative;

      img {
        object-fit: contain;
      }
    }

    &.primary,
    &.secondary {
      align-items: flex-end;
      background-color: var(--color-dark-purple);
      background-position: center;
      background-size: cover;
      color: var(--white-color);

      .info {
        backdrop-filter: none;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        padding: 3rem;

        @media screen and (min-width: $mobile-breakpoint) {
          padding: 4rem 3rem 3rem 3rem;
        }
      }
    }

    &:not(.primary),
    &:not(.secondary) {
      @media screen and (min-width: $mobile-breakpoint) {
        img {
          height: 60px;
          width: 90px;
        }
      }
    }

    .icon {
      @include center;

      background-color: #ede8f1;
      padding: 0 1rem;

      .icon-wrapper {
        height: 62px;
        position: relative;
        width: 90px;

        img {
          object-fit: contain;
        }
      }
    }

    .info {
      flex: 1;
      padding: 2rem;

      h1, h2 {
        margin: 0;
      }

      h1 {
        font-size: 1.2rem;
      }

      h2 {
        font-size: 1rem;
        font-weight: normal;
        margin-top: .5rem;
        opacity: .5;
      }
    }
  }

  @media screen and (min-width: $mobile-breakpoint) {
    .rant {
      flex: 0 0 calc(50% - .5rem);
    }

    .rant.primary {
      flex: 0 0 calc(60% - .5rem);
      height: 500px;
    }

    .rant.secondary {
      flex: 0 0 calc(40% - .5rem);
    }
  }
}

.view-more {
  @include interactive;

  background-color: var(--white-color);
  border-radius: var(--border-radius-normal);
  padding: 2rem 0;
  text-align: center;
  width: 100%;

  img {
    margin-right: .5rem;
    vertical-align: middle;
  }
}