@use "../../../../scss/common" as *;
@use "../../../../scss/variables" as *;

:host {
  .title {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.5rem 0;

    .avatar {
      border-radius: 100%;
      height: 50px;
      width: 50px;
    }

    .login {
      font-size: .9rem;
      opacity: .8;
    }
  }

  .highlights {
    border-top: rgba(255, 255, 255, .05) 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 1rem;

    h1 {
      font-size: 1.1rem;
      margin: 0;
    }

    h2 {
      font-size: .8rem;
      font-weight: normal;
      margin-top: .2rem;
      opacity: .7;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      h1 {
        font-size: .9rem;
      }

      h2 {
        font-size: .5rem;
      }
    }
  }

  scott-loading {
    padding: 2rem 0;
  }
}