@use '../../scss/common' as *;
@use '../../scss/variables' as *;

.photos {
  --image-size: 200px;

  background-color: var(--color-dark-purple);
  flex-wrap: wrap;
  height: 150px;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: $mobile-breakpoint) {
    --image-size: 400px;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    height: 300px;
  }

  .wrapper {
    animation: gallery 50s linear infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: .8;
    position: absolute;
    width: calc(100vw * 2);
    transition: var(--default-transition-normal);
  }

  &:hover .wrapper {
    animation-play-state: paused;
    opacity: 1;
  }

  .img {
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: var(--image-size);
    width: var(--image-size);
  }

  @keyframes gallery {
    0% {
      margin-left: 0;
    }
    50% {
      margin-left: calc(100vw * -1);
    }
    100% {
      margin-left: 0;
    }
  }
}

.about {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;

  @media screen and (min-width: $mobile-breakpoint) {
    flex-direction: row;
    gap: 4rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .bio {
    flex: 1 1 70%;

    h1 {
      margin-top: 0;
    }

    h2 {
      margin-top: 2rem;
      opacity: .8;
    }
  }

  .skills {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;

    > li {
      @include interactive;

      background-color: rgba(255, 255, 255, .4);
      border-radius: 6px;
      padding: 1rem;

      span {
        font-weight: bold;
      }

      ul {
        display: grid;
        flex-direction: column;
        gap: .2rem;
        grid-gap: .2rem;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        margin-top: .5rem;
        padding: 0;

        li {
          background-color: var(--hint-color);
          border-radius: 4px;
          color: white;
          font-size: .8rem;
          opacity: .8;
          padding: .4rem 1rem;
        }
      }
    }
  }

  .stuff {
    display: flex;
    flex: 1 1 30%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    @media screen and (min-width: $mobile-breakpoint) {
      display: block;
    }

    .widget {
      flex: 1;

      h1 {
        font-size: 1.1rem;
      }

      @media screen and (min-width: $mobile-breakpoint) {
        flex: 1 1 50%;
        margin-bottom: 1rem;
      }
    }
  }

  .cv {
    --cv-border: 12px;

    background-color: var(--hint-color-alt);
    border-radius: var(--border-radius-normal);
    color: var(--white-color);
    display: block;
    text-align: center;
    transition: var(--default-transition-normal);

    &:hover {
      background-color: #d1199e;
    }

    .preview {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 2rem 2rem 0 2rem;

      img {
        display: flex;
        height: auto;
        max-width: 50%;
        width: 100%;

        @media screen and (min-width: $mobile-breakpoint) {
          max-width: none;
        }
      }
    }

    .text {
      background-color: rgba(0, 0, 0, .1);
      padding: 2rem;

      h1 {
        font-size: 1.3rem;
        margin: 0;
      }

      p {
        margin: .4rem 0 0 0;
        opacity: .6;
      }
    }
  }
}