@use "../../scss/common" as *;
@use "../../scss/variables" as *;

.project {
  background-color: var(--color-dark-purple);
  color: var(--white-color);
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &:not(:first-of-type) {
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    margin-top: -16px;
  }

  .bg-container {
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, .8);
    padding: 2rem 0;
    transition: var(--default-transition-normal);

    @media screen and (min-width: $mobile-breakpoint) {
      background-color: rgba(0, 0, 0, .6);
      padding: 3rem 0;
    }
  }

  .container-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;

    @media screen and (min-width: $mobile-breakpoint) {
      flex-direction: row;
      padding: 3rem 0;
    }

    scott-image-collection {
      @include interactive;

      border-radius: var(--border-radius-normal);
      height: 300px;
      overflow: hidden;
      width: 100%;

      @media screen and (min-width: $mobile-breakpoint) {
        @include center;
        display: block;
      }

      @media screen and (min-width: $mobile-breakpoint) {
        height: 320px;
        width: 450px;
      }
    }

    .about {
      flex: 1;
      height: auto;
      margin-top: 1rem;

      @media screen and (min-width: $mobile-breakpoint) {
        margin-top: 0;
        padding: 0 3rem;
      }

      h1 {
        margin: 0;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        list-style: none;
        padding: 0;

        li {
          background-color: var(--hint-color);
          border-radius: var(--border-radius-small);
          display: inline-block;
          font-size: .8rem;
          padding: .5rem 1rem;
        }
      }

      .actions {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        @media screen and (min-width: $mobile-breakpoint) {
          flex-direction: row;
        }
      }
    }
  }
}
