@use "../../../scss/variables" as *;
@use "../../../scss/common" as *;

:host {
  display: block;

  article {
    display: flex;
    flex-direction: column;

    header {
      align-items: center;
      background-color: black;
      color: var(--white-color);
      display: flex;
      height: 400px;
      overflow: hidden;
      padding: 2rem;
      position: relative;
      text-align: center;
      transition: var(--default-transition-normal);

      @media screen and (min-width: $mobile-breakpoint) {
        align-items: flex-end;
        text-align: left;
      }

      .thumbnail {
        background-position: center 50%;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .6;
        animation: float-up 30s linear infinite;
        animation-fill-mode: forwards;
      }

      @keyframes float-up {
        0% {
          background-position-y: 50%;
        }
        50% {
          background-position-y: 70%;
        }
        100% {
          background-position-y: 50%;
        }
      }

      .container-wrapper {
        position: relative;
        z-index: 1;

        h1, h2, h3 {
          margin: 0;
        }

        h1 {
          font-size: 2rem;
        }

        h2 {
          font-weight: normal;
          opacity: .7;
          padding-top: .4rem;
        }

        h3 {
          font-size: 1rem;
          font-weight: normal;
          margin-top: 2rem;
          opacity: .5;
        }

        video {
          width: 100%;
          height: auto;
        }
      }
    }

    .body {
      flex: 1;

      @media screen and (min-width: $mobile-breakpoint) {
        padding: 0;

        .content {
          background-color: rgba(var(--white-color-rgb), .7);
          padding: 3rem 4rem;
        }
      }
    }
  }

  scott-loading {
    padding: 10% 0;
  }
}