@if (rant(); as rant) {
  <article>
    <header
        title="Click to reveal thumbnail image"
        (click)="onToggleThumbnail()"
        [class.revealed]="revealThumbnail()">
      <div class="thumbnail">
        <div>
          <img [src]="rant.thumbnail" alt="Rant Thubnail Image" />
        </div>
      </div>

      <div class="container-wrapper">
        <h1>{{ rant.title }}</h1>
        <h2>{{ rant.description }}</h2>
        <h3>Ranted on {{ rant.date.toDateString() }}.</h3>
      </div>
    </header>

    <div class="body container-wrapper">
      <div class="formatted-content content" [innerHTML]="rant.body"></div>
    </div>
  </article>
} @else {
  <scott-loading></scott-loading>
}