<div>
  <div class="icon">
    <img class="logo" ngSrc="./images/logos/linkedin.svg" alt="LinkedIn Logo" height="17" width="70" />
  </div>

  <div class="title">
    <div>
      <img class="avatar"
           ngSrc="https://avatars.githubusercontent.com/u/42965777?v=4"
           width="460"
           height="460"
           alt="LinkedIn Avatar" />
    </div>
    <div class="login">
      linkedin.com/in/scotttttty
    </div>
  </div>

  <div class="connect">
    <a class="button" href="https://www.linkedin.com/in/scotttttty/" target="_blank">Connect</a>
  </div>
</div>